.menuOptions,
.navbar-brand {
  justify-content: flex-end;
  margin-right: 120px;
  margin-left: 120px;
  padding: 10px;
}

.menuOptions li {
  margin: 15px;
}

.menuBar {
  padding: 0 !important;
}

.menuOptions,
.menuOptions .navlink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar,
.navbar a {
  font-size: 25px;
}

.nav-link:hover {
  background-color: #eeeeee;
}
